.parallax {
    animation-name: parralax;
    animation-duration: 40s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    transform-origin: center;
}

#hero {
    width: 100vw;
    height: 100vh;
    text-align: center;
    padding-top: 30vh;
    color: white;
}
#hero .mask {
    width: 100vw;
    height: 100vh;
    background: #000;
    opacity: 0.54;
    position: absolute;
    top: 0;
    z-index: 0;
}
#hero .bg {
    margin: 0;
    position: relative;
    top: 0;
    background-image: url("../imgs/hero-bg.jpg");
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

#hero .clipper {
    margin: 0;
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.hero-header {
    z-index: 1;
    font-family: "Lato", sans-serif;
    max-width: none;
}

.hero-header h1 {
    /*line-height: 100px;*/
    margin-bottom: 63px;
    font-weight: bold;
    font-size: 64px;
    letter-spacing: 24px;
}

.hero-header h3 {
    opacity: 0.5;
    font-family: "Montserrat", sans-serif;
    font-size: 29px;
}
.hero-header h3.date {
    opacity: 1;
    font-size: 33px;
    letter-spacing: 26px;
}

.btn-reg {
    z-index: 1;
    width: 20%;
    margin: auto;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: 1.5px solid white;
    padding: 0.8rem;
}

.btn-reg:hover {
    background: white;
}

/*Next Button Module*/
/********************************/
.btn-next {
    z-index: 1;
    padding: 0;
    width: 35px;
    height: 35px;
    background-color: white;
    border: none;
    margin-bottom: 15px;
    transform: rotate(-45deg);

}

.btn-next .box {
    width: 12px;
    height: 12px;
    margin: auto;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;

    border-bottom: 2px solid black;
    border-left: 2px solid black;

    -webkit-transform: translate(-5px, 5px);
    -moz-transform: translate(-5px, 5px);
    -ms-transform: translate(-5px, 5px);
    -o-transform: translate(-5px, 5px);
    transform: translate(-5px, 5px);
}

.btn-next:hover {
    background-color: transparent;
    border: 2px solid white;
}

.btn-next:hover .box {
    border-bottom: 2px solid white;
    border-left: 2px solid white;
    animation-iteration-count: 0;
}

.btn-next .box {
    animation-name: chake;
    animation-duration: 2s;
    animation-delay: 0.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}


/***************************/
/*Animations*/
/******************/
@keyframes chake {
    0% {

        -webkit-transform: translate(-5px, 5px);
        -moz-transform: translate(-5px, 5px);
        -ms-transform: translate(-5px, 5px);
        -o-transform: translate(-5px, 5px);
        transform: translate(-5px, 5px);
    }
    50% {

        -webkit-transform: translate(5px, -5px);
        -moz-transform: translate(5px, -5px);
        -ms-transform: translate(5px, -5px);
        -o-transform: translate(5px, -5px);
        transform: translate(5px, -5px);
    }
    100% {

        -webkit-transform: translate(-5px, 5px);
        -moz-transform: translate(-5px, 5px);
        -ms-transform: translate(-5px, 5px);
        -o-transform: translate(-5px, 5px);
        transform: translate(-5px, 5px);
    }
}

@keyframes parralax {
    0% {
        -webkit-transform: scale(1) translate(0, 0);
        -moz-transform: scale(1) translate(0, 0);
        -ms-transform: scale(1) translate(0, 0);
        -o-transform: scale(1) translate(0, 0);
        transform: scale(1) translate(0, 0);
    }

    50% {
        -webkit-transform: scale(1.4) translate(-50px, 100px);
        -moz-transform: scale(1.4) translate(-50px, 100px);
        -ms-transform: scale(1.4) translate(-50px, 100px);
        -o-transform: scale(1.4) translate(-50px, 100px);
        transform: scale(1.4) translate(-50px, 100px);
    }

    80% {
        -webkit-transform: scale(1.22) translate(3000px 100px);
        -moz-transform: scale(1.22) translate(3000px 100px);
        -ms-transform: scale(1.22) translate(3000px 100px);
        -o-transform: scale(1.22) translate(3000px 100px);
        transform: scale(1.22) translate(3000px 100px);
    }

    100% {
        -webkit-transform: scale(1.22) translate(3000px 100px);
        -moz-transform: scale(1.22) translate(3000px 100px);
        -ms-transform: scale(1.22) translate(3000px 100px);
        -o-transform: scale(1.22) translate(3000px 100px);
        transform: scale(1.22) translate(3000px 100px);
    }
}